@using MojDziennikv4.Models.DAL
@model IEnumerable<MojDziennikv4.Models.Account>

@{
    Layout = null;
    bool udane = true;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/login")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @{ 
        
            int i = PersonAccount.checkpasses(ViewBag.hlp.db, ViewBag.hlp.Login, ViewBag.hlp.Password, ViewBag.hlp.Type);
            switch (i)
            {
                case 3:
    <meta http-equiv="Refresh" content="0; url=/Home/Index" />; ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true;  break;
            case 2:
    <meta http-equiv="Refresh" content="0; url=/Home/AsPupil" />; ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true; break;
            case 1:
    <meta http-equiv="Refresh" content="0; url=/Home/AsTeacher" />; ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true; break;

        }

        if (ViewBag.hlp.Type != "Unknow")
        {
            udane = false;
        }

        }
</head>
<body>
 
    <div class='selection'>
        <div class='left'>
            <p class="option" id="dyrektor">Dyrektor</p>
            <p class="option" id="sekretariat">Sekretariat</p>
            <p class="option selected" id="administrator">Administrator</p>
        </div>
        <div id="panellog">
            <p class='message'>Logujesz się jako: Administrator</p>
            <form action="/Login/Index" method="post">
                <p><input name="frm_login" type="text" placeholder="Login"></p>
                <p><input name="frm_password" type="password" placeholder="Hasło"></p>
                <select name="sel_type" hidden>
                    <option id='administrator' value="Administrator" selected="selected">Administrator</option>
                    <option id='dyrektor' value="Dyrektor">Dyrektor</option>
                    <option id='nauczyciel' value="Nauczyciel">Nauczyciel</option>
                    <option id='opiekun' value="Opiekun">Opiekun</option>
                    <option id='sekretariat' value="Sekretariat">Sekretariat</option>
                    <option id='uczen' value="Uczen">Uczeń</option>
                </select>
                <input value="Zaloguj się" type="submit">
            </form>
        </div>
        <div class='right'>
            <p class="option" id="uczen">Uczeń</p>
            <p class="option" id="nauczyciel">Nauczyciel</p>
            <p class="option" id="opiekun">Opiekun</p>
        </div>
        <p class="error">Podano błędne dane logowania</p>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    @if (!udane)
    {
        <script type="text/javascript">
            $(".error").stop().animate(
                {
                    top: "-40px"
                },
                "fast"
            );
            $(".error").delay(8000).animate(
                {
                    top: "0px"
                },
                "fast"
            );
        </script>
    }
    <script type="text/javascript">
 $(".errortest").click(function() {
  $(".error").stop().animate(
   {
    top: "-40px"
   },
   "fast"
  );
  $(".error").delay(1500).animate(
   {
    top: "0px"
   },
   "fast"
  );
 });
 $(".option").click(function () {
     $(".option").removeClass("selected");
     $(this).addClass("selected");
     $(".message").text("Logujesz się jako: " + $(this).text());
     $("option").removeAttr("selected", "selected");
     $("option#" + $(this).attr("id") + "").attr("selected", "selected");
 });
    </script>

</body>
</html>
