@model MojDziennikv4.Models.School_Class

@{
    ViewBag.Title = "Usuń klasę";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć dany rekord?</h3>
<div>
    <h4>Klasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer klasy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Number)
        </dd>
        <dt>
            Profil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>

        <dt>
            Nazwisko wychowawcy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a href="/School_Class/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
        </div>
    }
</div>
