@model List<MojDziennikv4.Models.Pupil>
@using (Html.BeginForm("AddMarks","TeacherOptions", FormMethod.Post, new { name = "form2" }))
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input 
                       onclick="submitForms()" value="Zatwierdź" class="btn btn-default" />
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Imie i Nazwisko</td>
            <td>Ocena</td>
            <td>Waga oceny</td>
            <td>Opis</td>
        </tr>
        @foreach (var pupil in Model)
        {
            <tr>
                <td>@pupil.First_Name @pupil.Surname<input hidden name="Id" value="@pupil.Pupil_Id"/></td>
                <td><input id="Value" class="form-control" name="Value" value="" type="text" /></td>
                <td><input id="Weight" class="form-control" name="Weight" value="" type="text" /></td>
                <td><input id="Description" class="form-control" name="Description" value="" type="text" /></td>
            </tr>
        }
    </table>

}