@using MojDziennikv4.Models;
@model MojDziennikv4.Models.Mark
@{
    ViewBag.Title = "PupilMarks";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Oceny uczniów</h2>
<h4>Wybierz klase oraz przedmiot</h4>
<select id="Classpicker">
    <option> </option>
    @foreach (School_Class classes in ViewBag.Class_Name)
    {
        <option>@classes.Class_Number</option>
    }
</select>
    <select name="Subject1" id="Subjectpicker">
        <option> </option>
        @foreach (String subject in ViewBag.Subjects)
        {
            <option>@subject</option>
        }
    </select>
<div id="partialPlaceHolder" style="display:none; padding-top:50px;"> </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/PupilMark.js");
}
