@using MojDziennikv4.Models
@model ICollection<Lesson>
@if (Model.Count == 0)
{
    <p>Aktualnie nie ma lekcji</p>
}
else
{
    <table>
        <tr>
            <p>
            <td class="tdwidthlong">Sala:</td>
            <td> @Model.ElementAt(0).Class_Room.Class_Room_Number</td></p>
        </tr>
        <tr>
            <p>
            <td class="tdwidthlong">Nauczyciel:</td>
            <td>@Model.ElementAt(0).Employee.Surname</td></p>
        </tr>
        <tr>
            <p>
            <td class="tdwidthlong">Początek:</td>
            <td>@Model.ElementAt(0).Start_Time</td></p>
        </tr>
        <tr>
            <p>
            <td class="tdwidthlong">Przedmiot:</td>
            <td>@Model.ElementAt(0).Subject.Subject_Name</td></p>
        </tr>
    </table>


}
