@using MojDziennikv4.Models;
@model List<Lesson>
<table>
    @foreach (var lesson in Model)
    {
        <tr>
            <p>
            <td class="tdwidthshort">@lesson.Start_Time</td>
            <td class="tdwidthlong"> @lesson.Subject.Subject_Name </td>
            <td> @lesson.School_Class.Class_Number</td></p>
        </tr>
    }
</table>
