@model List<MojDziennikv4.Models.Note>
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_PupilLayout.cshtml";
}

<h2>Uwagi</h2>
<table class="table table-bordered table-striped">
    <tr>
        <td>Pozytywna</td>
        <td>Od Kogo</td>
        <td>Data</td>
        <td>Opis</td>
    </tr>
    @foreach (var note in Model)
    {
        <tr>
            <td>
            @if (note.Positve)
            {
                <p>Tak</p>
            }
            else
            {
                <p>Nie</p>
            }
            </td>
            <td>@note.Employee.Surname</td>
            <td>@note.Note_Date.ToShortDateString()</td>
            <td>@note.Describe</td>
        </tr>
    }
</table>
