@{
    ViewBag.Title = "Panel Nauczyciela";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="container" id='maingridpane'>
    <div class="row">
        <div class="col-lg-6 informacionPanel">
            <h2>Plan Lekcji</h2>
            @Html.Action("TeacherLessonInDay", "ParticalLesson")
        </div>
        <div class="col-lg-6 informacionPanel">
            <h2>Wydarzenia</h2>
            @Html.Action("TeacherEvents", "ParticalEvents")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 informacionPanel">
            <h2>Następna lekcja</h2>
        @Html.Action("TeacherNextLesson", "ParticalLesson")
        </div>
        <div class="col-lg-6 informacionPanel">
            <h2>Kalendarz</h2>
            <script type="text/javascript">
                calendar();
            </script>
        </div>
    </div>

</div>

