@using Microsoft.AspNet.Identity
@using MojDziennikv4.Models.DAL
@using MojDziennikv4.Models
@model MojDziennikv4.Models.IPerson
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(Model.First_Name, "Index", "Login", routeValues:new { message="logout"}, htmlAttributes: new { title = "logout" })
        </li>
    </ul>
    
}

